Flask
flask-cors
Flask-SQLAlchemy
SQLAlchemy
pandas
openpyxl
requests
python-barcode
qrcode
pillow
pythonping
dnspython
pyyaml
google-generativeai
python-dotenv
pytesseract
python-docx
fpdf
opencv-python
Verbalexpressions
pyjwt
bcrypt
gunicorn
waitress
flask-mail